@font-face {
    font-family: 'courgete';
    src: url(Courgette-Regular.ttf);
}
@font-face {
    font-family: 'bebas';
    src: url(BebasNeue-Regular.ttf);
}
@font-face {
    font-family: 'days';
    src: url(DaysOne-Regular.ttf);
}

body{
        background-color: #000000;    
        margin: 0%;
        padding: 0%;
        min-width: 50em;
}

img{
    margin: 25em;;
    
}

    /*Navigation Section Started*/
    nav{
        position: absolute;
        margin-top:1em ;
        width:100% ;
       
        
     }
     nav ul {
         border: 2px solid #ffffff ;
         width: 25em;
         margin: auto;
         list-style-type: none;
         border-radius: 2em;
         padding: 0.5em;
         display: flex;
         justify-content: center;
         gap: 2em; 
     }
     
        
     /*----------------------------------------------------------------------------------------------------*/
     /*Navigation Bars [HOME] [ABOUT] [] []*/
     nav ul li a {
         color: white;
         text-decoration: none;
         font-family: sans-serif;
         font-weight: normal;
         text-shadow: 1px 1px 2px black;
         line-height: 2em;
         
     }
     /*----------------------------------------------------------------------------------------------------*/
     nav ul li a:hover {
         padding: 0.3em;
         padding-left: 0.5em;
         padding-right: 0.5em;
         margin: auto;
         border-radius: 1em;    
         border: 1px solid white;
         background-color: #5a5a5a72;
     }
     /*----------------------------------------------------------------------------------------------------*/
     nav ul li a:active {
         color: #5a5a5a;
     }
     /*Navigation Section Ended*/
 
     
     /*----------------------------------------------------------------------------------------------------*/
     /*----------------------------------------------------------------------------------------------------*/
     
   
     
     /*Hero Section*/
     #hero{
             color: white;
             background-image: url(.jpg);
             background-position: center;
             background-size: cover;
             height: 40em;
         
             margin: 0px;
             padding: 0px;
             text-transform: capitalize;
             background-size: cover;
             min-width: 40em;
            
     }
         
     /*----------------------------------------------------------------------------------------------------*/
     /*Hero Section H1*/
     #hero h1{
             margin: auto;
             padding-top: 5em;
             font-size: 2.5em;
             text-align: center;
             font-family:courgete;
             font-stretch: ultra-expanded;
             text-shadow: 1px 1px 2px black;
             min-width:0.5em ;
             
             
     }
     
     #hero hr{
             width: 35em;
             line-height: 2em;
     }
     
     #hero p{
             font-size: 2em;
             text-align: center;
             font-family: bebas;
             letter-spacing: 2px;
             text-shadow: 1px 1px 2px black;
                  
     }
/*Contact Section Started*/
#contact{
    background:linear-gradient(45deg, gray,rgb(52, 52, 52)) ;
    height: 18em;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    color: white;
}

#contact h2{
    font-size : 3em;
    text-indent:0.5em ;
}

#contact ul{
    list-style-type: none;
    text-decoration: none;
    color: white ; 
    line-height: 1.5em;
    font-size: 1.5em;
}


/*----------------------------------------------------------------------------------------------------*/
/*Linkdn Section Started*/
#contact #linkdn{
    color: #0077b5;
    font-weight: BOLD;
}

#contact #linkdn:hover{
    text-shadow: 1px 1px 2px #FFFFFF,
            -2px -2px 2px #000000 ;
}
/*Linkdn Section Ended*/

/*----------------------------------------------------------------------------------------------------*/

/*Email Section Started*/
#contact #email{
    color: #FBBC04;
    font-weight: bold;
}

#contact #email:HOVER{
    color: #FBBC04;
    text-shadow:2px 2px 2px #EA4335,
                -2px -2px 2px #42B5F4,
                4px 4px 2px #34A853;
    font-weight: bold;
}
/*Email Section Ended*/

/*----------------------------------------------------------------------------------------------------*/

/*Whatsapp Section Started*/
#contact #whatsapp{
    color: #2dd14a;
    font-weight: bold;
}

#contact #whatsapp:hover{
    text-shadow: 1px 1px 2px  rgba(255, 255, 255, 0.167),
                -2px -2px 2px #5bf97d65;
}
/*Whatsapp Section Ended*/

/*----------------------------------------------------------------------------------------------------*/

/*Facebook Section Started*/
#contact #facebook{
    color: #0866FF;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

#contact #facebook:hover{
    font-weight: bolder;
    text-shadow: 1px 1px 2px#17aafa,
                -2px -2px 2px #83d4f7;
}
/*Facebook Section Ended*/

/*----------------------------------------------------------------------------------------------------*/

/*Instagram Section Started*/
#contact #instagram{
    color: #D52975;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

#contact #instagram:hover{

    text-shadow: 1px 1px 2px purple ,
                -2px -2px 2px #ff7a08;
}
/*Instagram Section Ended*/

/*Contact Section Ended*/




/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
footer{
    background: url(energy.jpg);
    background-position: center;
    opacity: 60%;
    height: 15em;
    line-height: 3em;
    text-align: center;
    color: whitesmoke;
    box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.64);
   
}

footer #dots{
    opacity:0% ;
}

footer hr{
    width: 50em;
}       
