@font-face {
        font-family: 'courgete';
        src: url(Courgette-Regular.ttf);
}
@font-face {
        font-family: 'bebas';
        src: url(BebasNeue-Regular.ttf);
}
@font-face {
        font-family: 'days';
        src: url(DaysOne-Regular.ttf);
}



.icons{
        /*display: flex;*/
        justify-content: right;
        margin-left: 65em;

}
.icons img{
       width: 15%; 
       opacity: 100%;       
}

.icons a{
        margin-left: 5px;
}

.icons a:hover{
        filter: invert(1);
        transform: scale(1.1);
        transition: 0.3s;
}
/*----------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 570px){
        
.icons{
        display: flex;
        justify-content: center;

}
.icons img{
       width: 26%; 
       opacity: 100%;       
    margin-right: 10em;
}

.icons a{
}

.icons a:hover{
        filter: invert(1);
        transition: 0.3s;
}
}


/*---------------------------------------------------------------------------------------------------------*/

#nav li a:hover{
        opacity: 100%;
        transform: scale(1.1);
        
}


#navbar {
     
        transition: top 0.3s; /* Transition effect when sliding down (and up) */
        z-index: 99;
      }
      
     
      #navbarScroll a:hover {
        /*background-color: #ddd;
        color: black;*/
        border-radius: 5px;
      }

   
/*--------------------------------------------------------------------------------------------------------*/  
/*--------------------------------------------------------------------------------------------------------*/

    /*Hero Section*/
    #hero{
        color: white;
        background-image: url(laptop\ in\ dark.jpg);
        background-position: center;
        background-size: cover;
        height: 45em;
    
        margin: 0px;
        padding: 0px;
        text-transform: capitalize;
        background-size: cover;

        margin-bottom: 5em;

    }

      
    /*----------------------------------------------------------------------------------------------------*/
  
       /* Paste the provided CSS here */
       @-webkit-keyframes fade-in-top {
        0% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes fade-in-top {
        0% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
  
      /* Apply animation to a class */
      .heroh1,.herop {
        animation: fade-in-top 2s ease-in-out;
      }
  
    /*Hero Section H1*/
    #hero h1{
            margin: auto;
            padding-top: 5em;
            font-size: 2.3em;
            text-align: center;
            font-family:courgete;
            font-stretch: ultra-expanded;
            text-shadow: 1px 1px 2px black;
            min-width:0.5em ;
            
            
    }
    
    #hero hr{
            line-height: 2em;
    }
    
    #hero p{
            font-size: 2em;
            text-align: center;
            font-family: bebas;
            letter-spacing: 2px;
            text-shadow: 1px 1px 2px black;
    
    }
 
/*-------------------------------------------------------------------------------------------------------------*/
@-webkit-keyframes color-change-5x {
        0% {
          background: #19dcea;
        }
        25% {
          background: #b22cff;
        }
        50% {
          background: #ea2222;
        }
        75% {
          background: #f5be10;
        }
        100% {
          background: #3bd80d;
        }
      }
      
      @keyframes color-change-5x {
        0% {
          background: #19dcea;
        }
        25% {
          background: #b22cff;
        }
        50% {
          background: #ea2222;
        }
        75% {
          background: #f5be10;
        }
        100% {
          background: #3bd80d;
        }
      }
      
      .line {
        -webkit-animation: color-change-5x 8s linear infinite alternate both;
                animation: color-change-5x 8s linear infinite alternate both;
      }
      
      .line{
        height: 1px;
        box-shadow: 0px 0px 2px black;
      }


#about{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2px;
        background-color:aliceblue ;
        margin-bottom: 5em;
}



#about h1{
        font-weight: bolder;
        font-stretch: extra-expanded;
        font-family: bebas;
        word-spacing: 20px;
}

.about{
        margin: 50%;

        background-color:rgb(230, 230, 230);
        width: 88%;
        margin: auto;
        height: 15em;
        border-radius: 10px;
        overflow-y: scroll;
        margin-bottom: 5em;


}

.about:hover{
        box-shadow: 0px 0px 10px black;
        transform: scale(1.1);
        transition: 1s;
}

.about h1{
        display: flex;
        justify-content: center;
        color: black;
}

.about p{

        margin: 5px ;
        font-size: 1.5em;
        text-align: center;
        
}

/*-------------------------------------------------------------------------------------------------------------*/

.mission{
        margin: 50%;

        background-color:rgb(230, 230, 230);
        width: 88%;
        margin: auto;
        height: 15em;
        border-radius: 10px;
        overflow-y: scroll;
        margin-bottom: 10em;
}

.mission:hover{
        box-shadow: 0px 0px 10px black;
        transform: scale(1.1);
        transition: 1s;
}

.mission h1{
        display: flex;
        justify-content: center;
        color: black;
}

.mission p{

        margin: 5px ;
        font-size: 1.5em;
        text-align: center;
        
}
/*-------------------------------------------------------------------------------------------------------------*/


.cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: scroll;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.500);
        margin-bottom: 5em;
        gap: 5em;
    
        overflow-y: hidden;
        /* Custom styles for the scrollbar track */
        scrollbar-width: thin; /* Firefox */
        scrollbar-color: #cfcfcf70 #575757; /* Firefox - Handle color, Track color */
        
}

.cards:hover{
        box-shadow: 0px 0px 10px black;
        transition: 0.3s;
}

    
 

   /*----------------------------------------------------------------------------------------------------------*/ 
footer{
        /*background: url(energy.jpg);*/
        background-color: black;
        background-position: center;
        opacity: 60%;
        height: 15em;
        line-height: 3em;
        text-align: center;
        color: whitesmoke;
        box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.64);
       
}
      


      

      

       

    
    
