body{
    /*background: linear-gradient( 45deg , black, rgb(52, 52, 52)) ;*/
        background-color: #0b0b0b;
        margin: 0%;
        padding: 0%;
       
}

/*----------------------------------------------------------------------------------------------------*/

/*Body All Paragraphs*/
body p{
        font-family: sans-serif;
        cursor: default;
}
/*----------------------------------------------------------------------------------------------------*/
/*Body All H2 */
body h2 {
        text-transform: capitalize;
}
/*----------------------------------------------------------------------------------------------------*/
body:focus{
        color: yellow;
}   
/**/

/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

/* Header Section Started */
#header {
  
   /*display: flex;
   align-items: baseline; 
   justify-content: space-between; 
   height: 5em;
   padding: 0.9em; 
   padding-bottom: 0em;*/
}
/*----------------------------------------------------------------------------------------------------*/
/*Header H1*/
/*#header h1 {
    color: white;
    text-shadow: 1px 1px 2px black;
    cursor: wait;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
}*/
/*Header Section Ended*/



/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/



/*Navigation Section Started*/
nav{
   position: absolute;
   margin-top:1em ;
   width:100% ;
}
nav ul {
    border: 2px solid #ffffff ;
    width: 25em;
    margin: auto;
    list-style-type: none;
    border-radius: 2em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    gap: 2em; 
}

   
/*----------------------------------------------------------------------------------------------------*/
/*Navigation Bars [HOME] [ABOUT] [] []*/
nav ul li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px 2px black;
    line-height: 2em;
    
}
/*----------------------------------------------------------------------------------------------------*/
nav ul li a:hover {
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;
    border-radius: 1em;    
    border: 1px solid white;
    background-color: #5a5a5a72;
}
/*----------------------------------------------------------------------------------------------------*/
nav ul li a:active {
    color: #5a5a5a;
}
/*Navigation Section Ended*/



/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

@font-face {
        font-family: 'courgete';
        src: url(Courgette-Regular.ttf);
}
@font-face {
        font-family: 'bebas';
        src: url(BebasNeue-Regular.ttf);
}
/*Hero Section*/
#hero{
        color: white;
        background-image: url(purple&bluebg.jpg);
        background-position: center;
        background-size: cover;
        height: 40em;
        margin: 0px;
        padding: 0px;
        text-transform: capitalize;
        background-size: cover;
}
    
/*----------------------------------------------------------------------------------------------------*/
/*Hero Section H1*/
#hero h1{
        margin: auto;
        padding-top: 3em;
        font-size: 3em;
        text-align: center;
        font-family:courgete;
        font-stretch: ultra-expanded;
        text-shadow: 1px 1px 2px black;
        
}

#hero hr{
        width: 65em;
        line-height: 2em;
}

#hero p{
        font-size: 2em;
        text-align: center;
        font-family: bebas;
        letter-spacing: 2px;
        text-shadow: 1px 1px 2px black;

}
/*----------------------------------------------------------------------------------------------------*/
/*Hero Section Button*/
#hero button {
        background: linear-gradient( 45deg , rgb(8, 160, 0), rgb(1, 84, 14)) ;    
        font-size: 1.6em;
        align-items: center; 
        margin-top: 5em;
        padding: 0.5em;
        border-radius: 14px;
        border-color: #00ff2f;
        cursor: pointer;
        
}
/*button Hover*/
#hero button:hover{
        background: linear-gradient( 45deg , rgb(0, 0, 0), rgb(1, 84, 14)) ; 
        color: #00ff2f; 
}
/*----------------------------------------------------------------------------------------------------*/
#hero button a{
        color: whitesmoke;
        text-decoration: none;
}
/*Button Link Hover*/

#hero button a:hover{
        color: #00ff2f; 

}


/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/



/*About Section Started*/
#about{
        background:linear-gradient(45deg, rgb(128, 128, 128),rgb(52, 52, 52)) ;
        height: 13em;
        text-shadow: 1px 1px 2px black;
        border-radius: 10px;
        color: white;
}
/*----------------------------------------------------------------------------------------------------*/
#about h2{
        font-size: 2.5em;
        text-transform: capitalize;
        text-indent:0.5em ;

}
/*----------------------------------------------------------------------------------------------------*/
#about p {
        font-size:1.3em ;
        font-weight: light ;
        text-align: left;
        justify-content: left;
        text-transform: capitalize ;
        line-height: 1.5em;
        word-spacing: 0.2em;
        padding-left: 1em;
}
/*----------------------------------------------------------------------------------------------------*/
#about p abbr a{
        text-decoration: none;
        color: greenyellow;
}
/*----------------------------------------------------------------------------------------------------*/
#about p abbr a:hover{
        color: #2dd14a;
        text-shadow:0px 0px 2px blue ;
    
}
/*About Section Ended*/



/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/



/*Projects Section Started*/
#projects{

        background:linear-gradient(45deg, gray,rgb(52, 52, 52)) ;
        height: 21em;
        text-shadow: 1px 1px 2px black;
        border-radius: 10px;
        color: white;
}   
/*----------------------------------------------------------------------------------------------------*/
#projects h2{
        font-size : 3em;
        font-family: ;
        text-indent:0.5em ;
}
/*----------------------------------------------------------------------------------------------------*/
#projects h3 {

        font-size: 1.5em;
        letter-spacing: 0.2em ;
        text-transform: uppercase;
        text-align: left;
        text-indent: 1em;
}
/*----------------------------------------------------------------------------------------------------*/
#projects p{
        font-size:1.3em ;
        font-weight: light ;
        text-align: left;
        justify-content: left;
        text-transform: capitalize ;
        line-height: 1.5em;
        word-spacing: 0.2em;
        padding-left: 1em;
}
/*----------------------------------------------------------------------------------------------------*/
#projects #note{
        word-spacing: 0.1em;
}
/*----------------------------------------------------------------------------------------------------*/
#projects #note b {
        color: red;
        font-weight: normal;
}
/*----------------------------------------------------------------------------------------------------*/
#projects a{
        color: rgba(255, 255, 0, 0.655) ;
        text-decoration: none;
        padding-left: 1.5em ;
        font-family: sans-serif;
}
/*----------------------------------------------------------------------------------------------------*/
#projects a:hover{
        color: yellow ;
}
/*Projects Section Ended*/



/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/



/*Contact Section Started*/
#contact{
        background:linear-gradient(45deg, gray,rgb(52, 52, 52)) ;
        height: 18em;
        text-shadow: 1px 1px 2px black;
        border-radius: 10px;
        color: white;
}

#contact h2{
        font-size : 3em;
        text-indent:0.5em ;
}

#contact ul li a{
        text-decoration: none;
        color: white ;
        line-height: 1.5em;
        font-size: 1.5em;
}

/*----------------------------------------------------------------------------------------------------*/
/*Linkdn Section Started*/
#contact #linkdn{
        color: #0077b5;
        font-weight: BOLD;
}

#contact #linkdn:hover{
        text-shadow: 1px 1px 2px #FFFFFF,
                -2px -2px 2px #000000 ;
}
/*Linkdn Section Ended*/

/*----------------------------------------------------------------------------------------------------*/

/*Email Section Started*/
#contact #email{
        color: #FBBC04;
        font-weight: bold;
}

#contact #email:HOVER{
        color: #FBBC04;
        text-shadow:2px 2px 2px #EA4335,
                    -2px -2px 2px #42B5F4,
                    4px 4px 2px #34A853;
        font-weight: bold;
}
/*Email Section Ended*/

/*----------------------------------------------------------------------------------------------------*/

/*Whatsapp Section Started*/
#contact #whatsapp{
        color: #2dd14a;
        font-weight: bold;
}

#contact #whatsapp:hover{
        text-shadow: 1px 1px 2px  rgba(255, 255, 255, 0.167),
                    -2px -2px 2px #5bf97d65;
}
/*Whatsapp Section Ended*/

/*----------------------------------------------------------------------------------------------------*/

/*Facebook Section Started*/
#contact #facebook{
        color: #0866FF;
        font-weight: bold;
        text-shadow: 1px 1px 2px black;
}

#contact #facebook:hover{
        font-weight: bolder;
        text-shadow: 1px 1px 2px#17aafa,
                    -2px -2px 2px #83d4f7;
}
/*Facebook Section Ended*/

/*----------------------------------------------------------------------------------------------------*/

/*Instagram Section Started*/
#contact #instagram{
        color: #D52975;
        font-weight: bold;
        text-shadow: 1px 1px 2px black;
}

#contact #instagram:hover{

        text-shadow: 1px 1px 2px purple ,
                    -2px -2px 2px #ff7a08;
}
/*Instagram Section Ended*/

/*Contact Section Ended*/



/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*Form*/
#form{
         color: white;
         background:linear-gradient(45deg, gray,rgb(52, 52, 52)) ;
         text-shadow: 1px 1px 2px black;
         border-radius: 14px;
         margin-left: 10em;
         margin-right: 10em;
         margin-top: 1em;
         padding: 2em;
}
/*----------------------------------------------------------------------------------------------------*/
/*Form Submit Button*/
#form #submit{
         background: linear-gradient( 45deg , rgb(8, 160, 0), rgb(1, 84, 14)) ;    
         border-color: #00ff2f;
         color: white;
         font-size: 1.5em;
         margin-left: 0em;
         padding-left: 5.4em;
         padding-right: 5.4em;
         cursor: pointer;
}
/*----------------------------------------------------------------------------------------------------*/
/*Form Submit button Hover*/
#form #submit:hover{
    background: linear-gradient( 45deg , rgb(0, 0, 0), rgb(1, 84, 14)) ; 
    color: #00ff2f; 
}

/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
footer{
        background: url(energy.jpg);
        background-position: center;
        opacity: 60%;
        height: 15em;
        line-height: 3em;
        text-align: center;
        color: whitesmoke;
        box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.64);
       
}

footer #dots{
        opacity:0% ;
}

footer hr{
        width: 50em;
}       
body{
    /*background: linear-gradient( 45deg , black, rgb(52, 52, 52)) ;*/
        background-color: #0b0b0b;
        margin: 0%;
        padding: 0%;
       
}

/*----------------------------------------------------------------------------------------------------*/

/*Body All Paragraphs*/
body p{
        font-family: sans-serif;
        cursor: default;
}
/*----------------------------------------------------------------------------------------------------*/
/*Body All H2 */
body h2 {
        text-transform: capitalize;
}
/*----------------------------------------------------------------------------------------------------*/
body:focus{
        color: yellow;
}   
/**/

/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

/* Header Section Started */
#header {
  
   /*display: flex;
   align-items: baseline; 
   justify-content: space-between; 
   height: 5em;
   padding: 0.9em; 
   padding-bottom: 0em;*/
}
/*----------------------------------------------------------------------------------------------------*/
/*Header H1*/
/*#header h1 {
    color: white;
    text-shadow: 1px 1px 2px black;
    cursor: wait;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
}*/
/*Header Section Ended*/



/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/



/*Navigation Section Started*/
nav{
   position: absolute;
   margin-top:1em ;
   width:100% ;
}
nav ul {
    border: 2px solid #ffffff ;
    width: 25em;
    margin: auto;
    list-style-type: none;
    border-radius: 2em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    gap: 2em; 
}

   
/*----------------------------------------------------------------------------------------------------*/
/*Navigation Bars [HOME] [ABOUT] [] []*/
nav ul li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px 2px black;
    line-height: 2em;
    
}
/*----------------------------------------------------------------------------------------------------*/
nav ul li a:hover {
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;
    border-radius: 1em;    
    border: 1px solid white;
    background-color: #5a5a5a72;
}
/*----------------------------------------------------------------------------------------------------*/
nav ul li a:active {
    color: #5a5a5a;
}
/*Navigation Section Ended*/



/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

@font-face {
        font-family: 'courgete';
        src: url(Courgette-Regular.ttf);
}
@font-face {
        font-family: 'bebas';
        src: url(BebasNeue-Regular.ttf);
}
/*Hero Section*/
#hero{
        color: white;
        background-image: url(purple&bluebg.jpg);
        background-position: center;
        background-size: cover;
        height: 40em;
        margin: 0px;
        padding: 0px;
        text-transform: capitalize;
        background-size: cover;
}
    
/*----------------------------------------------------------------------------------------------------*/
/*Hero Section H1*/
#hero h1{
        margin: auto;
        padding-top: 3em;
        font-size: 3em;
        text-align: center;
        font-family:courgete;
        font-stretch: ultra-expanded;
        text-shadow: 1px 1px 2px black;
        
}

#hero hr{
        width: 65em;
        line-height: 2em;
}

#hero p{
        font-size: 2em;
        text-align: center;
        font-family: bebas;
        letter-spacing: 2px;
        text-shadow: 1px 1px 2px black;

}
/*----------------------------------------------------------------------------------------------------*/
/*Hero Section Button*/
#hero button {
        background: linear-gradient( 45deg , rgb(8, 160, 0), rgb(1, 84, 14)) ;    
        font-size: 1.6em;
        align-items: center; 
        margin-top: 5em;
        padding: 0.5em;
        border-radius: 14px;
        border-color: #00ff2f;
        cursor: pointer;
        
}
/*button Hover*/
#hero button:hover{
        background: linear-gradient( 45deg , rgb(0, 0, 0), rgb(1, 84, 14)) ; 
        color: #00ff2f; 
}
/*----------------------------------------------------------------------------------------------------*/
#hero button a{
        color: whitesmoke;
        text-decoration: none;
}
/*Button Link Hover*/

#hero button a:hover{
        color: #00ff2f; 

}


/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/



/*About Section Started*/
#about{
        background:linear-gradient(45deg, rgb(128, 128, 128),rgb(52, 52, 52)) ;
        height: 13em;
        text-shadow: 1px 1px 2px black;
        border-radius: 10px;
        color: white;
}
/*----------------------------------------------------------------------------------------------------*/
#about h2{
        font-size: 2.5em;
        text-transform: capitalize;
        text-indent:0.5em ;

}
/*----------------------------------------------------------------------------------------------------*/
#about p {
        font-size:1.3em ;
        font-weight: light ;
        text-align: left;
        justify-content: left;
        text-transform: capitalize ;
        line-height: 1.5em;
        word-spacing: 0.2em;
        padding-left: 1em;
}
/*----------------------------------------------------------------------------------------------------*/
#about p abbr a{
        text-decoration: none;
        color: greenyellow;
}
/*----------------------------------------------------------------------------------------------------*/
#about p abbr a:hover{
        color: #2dd14a;
        text-shadow:0px 0px 2px blue ;
    
}
/*About Section Ended*/



/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/



/*Projects Section Started*/
#projects{

        background:linear-gradient(45deg, gray,rgb(52, 52, 52)) ;
        height: 21em;
        text-shadow: 1px 1px 2px black;
        border-radius: 10px;
        color: white;
}   
/*----------------------------------------------------------------------------------------------------*/
#projects h2{
        font-size : 3em;
        font-family: ;
        text-indent:0.5em ;
}
/*----------------------------------------------------------------------------------------------------*/
#projects h3 {

        font-size: 1.5em;
        letter-spacing: 0.2em ;
        text-transform: uppercase;
        text-align: left;
        text-indent: 1em;
}
/*----------------------------------------------------------------------------------------------------*/
#projects p{
        font-size:1.3em ;
        font-weight: light ;
        text-align: left;
        justify-content: left;
        text-transform: capitalize ;
        line-height: 1.5em;
        word-spacing: 0.2em;
        padding-left: 1em;
}
/*----------------------------------------------------------------------------------------------------*/
#projects #note{
        word-spacing: 0.1em;
}
/*----------------------------------------------------------------------------------------------------*/
#projects #note b {
        color: red;
        font-weight: normal;
}
/*----------------------------------------------------------------------------------------------------*/
#projects a{
        color: rgba(255, 255, 0, 0.655) ;
        text-decoration: none;
        padding-left: 1.5em ;
        font-family: sans-serif;
}
/*----------------------------------------------------------------------------------------------------*/
#projects a:hover{
        color: yellow ;
}
/*Projects Section Ended*/



/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/



/*Contact Section Started*/
#contact{
        background:linear-gradient(45deg, gray,rgb(52, 52, 52)) ;
        height: 18em;
        text-shadow: 1px 1px 2px black;
        border-radius: 10px;
        color: white;
}

#contact h2{
        font-size : 3em;
        text-indent:0.5em ;
}

#contact ul li a{
        text-decoration: none;
        color: white ;
        line-height: 1.5em;
        font-size: 1.5em;
}

/*----------------------------------------------------------------------------------------------------*/
/*Linkdn Section Started*/
#contact #linkdn{
        color: #0077b5;
        font-weight: BOLD;
}

#contact #linkdn:hover{
        text-shadow: 1px 1px 2px #FFFFFF,
                -2px -2px 2px #000000 ;
}
/*Linkdn Section Ended*/

/*----------------------------------------------------------------------------------------------------*/

/*Email Section Started*/
#contact #email{
        color: #FBBC04;
        font-weight: bold;
}

#contact #email:HOVER{
        color: #FBBC04;
        text-shadow:2px 2px 2px #EA4335,
                    -2px -2px 2px #42B5F4,
                    4px 4px 2px #34A853;
        font-weight: bold;
}
/*Email Section Ended*/

/*----------------------------------------------------------------------------------------------------*/

/*Whatsapp Section Started*/
#contact #whatsapp{
        color: #2dd14a;
        font-weight: bold;
}

#contact #whatsapp:hover{
        text-shadow: 1px 1px 2px  rgba(255, 255, 255, 0.167),
                    -2px -2px 2px #5bf97d65;
}
/*Whatsapp Section Ended*/

/*----------------------------------------------------------------------------------------------------*/

/*Facebook Section Started*/
#contact #facebook{
        color: #0866FF;
        font-weight: bold;
        text-shadow: 1px 1px 2px black;
}

#contact #facebook:hover{
        font-weight: bolder;
        text-shadow: 1px 1px 2px#17aafa,
                    -2px -2px 2px #83d4f7;
}
/*Facebook Section Ended*/

/*----------------------------------------------------------------------------------------------------*/

/*Instagram Section Started*/
#contact #instagram{
        color: #D52975;
        font-weight: bold;
        text-shadow: 1px 1px 2px black;
}

#contact #instagram:hover{

        text-shadow: 1px 1px 2px purple ,
                    -2px -2px 2px #ff7a08;
}
/*Instagram Section Ended*/

/*Contact Section Ended*/



/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*Form*/
#form{
         color: white;
         background:linear-gradient(45deg, gray,rgb(52, 52, 52)) ;
         text-shadow: 1px 1px 2px black;
         border-radius: 14px;
         margin-left: 10em;
         margin-right: 10em;
         margin-top: 1em;
         padding: 2em;
}
/*----------------------------------------------------------------------------------------------------*/
/*Form Submit Button*/
#form #submit{
         background: linear-gradient( 45deg , rgb(8, 160, 0), rgb(1, 84, 14)) ;    
         border-color: #00ff2f;
         color: white;
         font-size: 1.5em;
         margin-left: 0em;
         padding-left: 5.4em;
         padding-right: 5.4em;
         cursor: pointer;
}
/*----------------------------------------------------------------------------------------------------*/
/*Form Submit button Hover*/
#form #submit:hover{
    background: linear-gradient( 45deg , rgb(0, 0, 0), rgb(1, 84, 14)) ; 
    color: #00ff2f; 
}

/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
footer{
        background: url(energy.jpg);
        background-position: center;
        opacity: 60%;
        height: 15em;
        line-height: 3em;
        text-align: center;
        color: whitesmoke;
        box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.64);
       
}

footer #dots{
        opacity:0% ;
}

footer hr{
        width: 50em;
}       
